body {
    margin: 0;
    font-family: Araial, sans-serif;
}

.top-section {
    height: 25%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #007bff;
    color: gold;
}

.bottom-section {
    padding: 20px;
    overflow-y: auto;
    display: flex;
}

.centered-flex {
    display:flex;
}

.centered-flex button{
    width: 8rem;
    padding: 10px;
    background: green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;;
}

.input-group {
    margin-right: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: 600;
    margin-right: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .bottom-section,
    .list-expense {
        width: 90%; /* Adjust width for mobile */
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .input-group {
        flex-direction: column;
    }
}

