<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="tracker.js"></script>
    <link rel="stylesheet" href="Resources\main.css">
    <link rel="stylesheet" href="Resources/trackerdisplay.css">
    <link rel="icon" href="Resources\ETLogo.jpg" type="image/icon type">
</head>
<body>
    <div class="top-section"></div>
        <div class="bottom-section">
            <form class="centered-flex" onsubmit="AddExpense(event)">
                <div class="input-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" required>
                </div>
                <div class="input-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" required>
                </div>
                <div class="input-group">
                    <label for="category">Category</label>
                    <select name="category" id="category">
                        <option value="">Select-Category</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Grocery">Grocery</option>
                        <option value="Rent/Mortgage">Rent/Mortgage</option>
                        <option value="Utilities">Utilities</option>
                        <option value="Medical/HealthCare">Medical/HealthCare</option>
                    </select>
                </div>
                <button type="submit">Add Expense!</button>
            </form>
        </div>
        <div class="Premium-features-LeaderBoard">
            <button type="button" id="ldr-btn-on" onclick="getLeaderboard(event)">Get LeaderBoard</button>
            <button type="button" id="ldr-btn-off" onclick="closeLeaderboard()" hidden="true">Close LeaderBoard</button>
        </div>
        <div class="leaderboard_table" id="leaderboard"></div>
        <div class="DynPagination">
            <label for="dynamicPages">Select number of rows per Page:</label>
            <select name="dynamicPages" id="dynamicPages" onchange="changeItemperPage(event)">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=25>25</option>
                <option value=50>50</option>
                <option value=100>100</option>
            </select>
        </div>
        <div class="list-expense" id="output_list"></div>
        <div id="pagination" class="pages">
            <input type="button" value="1">
        </div>
    </div>
    
</body>
</html>