<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link rel="stylesheet" href="signin.js">
</head>
<body>
    <div id="display">
        <div id="sign-in-Form">
            <form id="signinForm" onsubmit="checklogin">
                <label for="usermail">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="passwrd" name="passwrd" required>
                <br>
                <button type="submit">Login!</button>
            </form><br>
            <p><a href="/signUp">SignUp</a> if new User</p>
        </div>
    </div>
    
</body>
</html>